/* .home {
  background-color: #121212;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  text-align: center;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #00bcd4;
  margin-bottom: 20px;
}

.name {
  color: #00bcd4;
}

.tagline {
  font-size: 1.2rem;
  color: #ccc;
} */

